<h2>Devices</h2>
<p>Devices used by Testers</p>

<ng-multiselect-dropdown [placeholder]="'select devices'"
                         [settings]="dropdownSettings"
                         [data]="devices"
                         [(ngModel)]="selectedDevices"
                         class="multiselect-dropdown">
</ng-multiselect-dropdown>

<h2>Countries</h2>
<p>Country codes of Testers</p>

<ng-multiselect-dropdown [placeholder]="'select countries'"
                         [settings]="dropdownSettings"
                         [data]="countries"
                         [(ngModel)]="selectedCountries"
                         class="multiselect-dropdown">
</ng-multiselect-dropdown>

<input type="hidden" #selection>

<div class="card-container">
  <button class="card card-small" (click)="findTesters()" tabindex="0">
    <span>Search testers</span>
  </button>

  <button class="card card-small" (click)="clearResult()" tabindex="0">
    <span>Clear</span>
  </button>
</div>
